html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color-scheme: dark;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*:not(.resize-grips,
  .resize-grip,
  input,
  textarea,
  button,
  button *,
  select,
  select *,
  a) {
  cursor: var(--cursor-default) 2 2, auto !important;
}

button,
button *,
select,
select *,
.desktop .dock .menu .app,
.desktop .dock .menu .app *,
.pointer,
a {
  cursor: var(--cursor-pointer) 5 0, auto !important;
}

input[type="range"],
input[type="range"]:focus {
  outline: none !important;
}

input:not([type="checkbox"], [type="range"]),
textarea,
.ace_content {
  cursor: var(--cursor-text) 10 9, auto !important;
}

:root,
[data-theme="dark"] {
  color-scheme: dark;
  accent-color: var(--primary);
  --primary: hsl(222, 80%, 40%);
  --negative: hsl(0, 80%, 40%);
  --negative-light: hsl(0, 80%, 73%);
  --negative-dark: hsl(0, 79%, 25%);
  --positive: hsl(133, 80%, 40%);
  --positive-light: hsl(134, 81%, 72%);
  --positive-dark: hsl(133, 79%, 25%);
  --warning: hsla(60, 90%, 40%, 0.8);
  --warning-light: rgba(247, 247, 120, 1);
  --warning-light-translucent: rgba(247, 247, 120, 0.4);
  --warning-dark: hsla(60, 96%, 25%, 0.2);
  --root: hsl(222, 25%, 8%);
  --root-rgb: 15, 18, 25;
  --header: hsl(219, 28%, 12%);
  --unfocused: hsl(218, 31%, 5%);
  --text: hsl(0, 0%, 100%);
  --text-rgb: 255, 255, 255;
  --text-alt: hsl(222, 33%, 80%);
  --text-light: hsl(0, 0%, 100%);
  --label: hsl(222, 16%, 38%);
  --label-light: hsl(222, 15%, 50%);
  --neutral: hsl(222, 26%, 18%);
  --neutral-focus: hsl(222, 27%, 20%);
  --outline: hsl(222, 23%, 22%);
  --easing-function: cubic-bezier(0.65, 0, 0.35, 1);
  --short-animation-duration: 0.15s;
  --animation-duration: 0.45s;
  --long-animation-duration: 1s;
}

[data-theme="light"] {
  color-scheme: light;
  --primary: #2864b8;
  --negative: #db4e4e;
  --negative-light: #ea4848;
  --negative-dark: #710d0d;
  --positive: #3dcf5d;
  --positive-light: #199937;
  --positive-dark: #0d7123;
  --root: #f3f3f3;
  --root-rgb: 243, 243, 243;
  --header: #e6e6e6;
  --unfocused: #f7f7f7;
  --text: #1f1f1f;
  --text-rgb: 31, 31, 31;
  --text-alt: #222c44;
  --text-light: #ffffff;
  --label: #767f92;
  --label-light: #868fa2;
  --neutral: #cccccc;
  --neutral-focus: #aaaaaa;
  --outline: #bbbbbb;
  --warning: hsla(60, 100%, 30.2%, 0.8);
  --warning-light: rgb(152, 152, 0);
  --warning-light-translucent: rgba(247, 247, 120, 0.4);
  --warning-dark: hsla(60, 96%, 25%, 0.2);
}

[data-theme="red"] {
  color-scheme: dark;
  --primary: hsl(0, 81%, 21%);
  --negative: #b81414;
  --negative-light: #f18383;
  --negative-dark: #710d0d;
  --positive: #14b838;
  --positive-light: #7cf197;
  --positive-dark: #0d7123;
  --root: hsl(0, 27%, 8%);
  --root-rgb: 15, 18, 25;
  --header: hsl(0, 28%, 12%);
  --unfocused: hsl(0, 31%, 5%);
  --text: #ffffff;
  --text-rgb: 255, 255, 255;
  --text-alt: #bbc5dd;
  --text-light: #ffffff;
  --label: hsl(0, 16%, 38%);
  --label-light: hsl(0, 15%, 50%);
  --neutral: hsl(0, 26%, 18%);
  --neutral-focus: hsl(0, 27%, 20%);
  --outline: hsl(0, 23%, 22%);
}

[data-theme="green"] {
  color-scheme: dark;
  --primary: hsl(131, 81%, 21%);
  --negative: #b81414;
  --negative-light: #f18383;
  --negative-dark: #710d0d;
  --positive: #14b838;
  --positive-light: #7cf197;
  --positive-dark: #0d7123;
  --root: hsl(131, 27%, 8%);
  --root-rgb: 15, 18, 25;
  --header: hsl(131, 28%, 12%);
  --unfocused: hsl(131, 31%, 5%);
  --text: #ffffff;
  --text-rgb: 255, 255, 255;
  --text-alt: #bbc5dd;
  --text-light: #ffffff;
  --label: hsl(131, 16%, 38%);
  --label-light: hsl(131, 15%, 50%);
  --neutral: hsl(131, 26%, 18%);
  --neutral-focus: hsl(131, 27%, 20%);
  --outline: hsl(131, 23%, 22%);
}

.slideIn {
  animation: slideIn var(--animation-duration) var(--easing-function) forwards;
}

.slideOut {
  animation: slideOut var(--animation-duration) var(--easing-function) forwards;
}

.slideInFromLeft {
  animation: slideInFromLeft var(--animation-duration) var(--easing-function) forwards;
}

.slideInFromRight {
  animation: slideInFromRight var(--animation-duration) var(--easing-function) forwards;
}

.shortSlideInFromLeft {
  animation: slideInFromLeft var(--short-animation-duration) var(--easing-function) forwards;
}

.shortSlideInFromRight {
  animation: slideInFromRight var(--short-animation-duration) var(--easing-function) forwards;
}

.slideInFromBottom {
  animation: slideInFromBottom var(--animation-duration) var(--easing-function) forwards;
}

.slideInFromTop {
  animation: slideInFromTop var(--animation-duration) var(--easing-function) forwards;
}

.slideInCenteredFromBottom {
  animation: slideInCenteredFromBottom var(--animation-duration) var(--easing-function) forwards;
}

.slideInCenteredFromTop {
  animation: slideInCenteredFromTop var(--animation-duration) var(--easing-function) forwards;
}

.shortSlideInFromBottom {
  animation: slideInFromBottom var(--short-animation-duration) var(--easing-function) forwards;
}

.shortSlideInFromTop {
  animation: slideInFromTop var(--short-animation-duration) var(--easing-function) forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInCenteredFromBottom {
  from {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes slideInCenteredFromTop {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%) scale(0.85);
    opacity: 0;
    pointer-events: all;
  }

  99% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: translateY(50%) scale(0.85);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes shortSlideUp {
  0% {
    transform: translateY(25%) scale(0.85);
    opacity: 0;
    pointer-events: none;
  }

  99% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shortSlideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: translateY(25%) scale(0.85);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

iframe {
  border: none;
}

.win-window.closing {
  animation: slide-down var(--animation-duration) var(--easing-function) forwards;
}

.win-window.dragging {
  transition: none !important;
}

.win-window {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  background-color: var(--root);
  border: 1px solid var(--outline);
  border-radius: 5px;
  overflow: visible;
  flex-direction: column;
  min-width: 140px;
  min-height: 80px;
  transition-property: top, left, width, height;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--easing-function);
  /* box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25); */
  /* box-shadow: 0 0 0 2px black; */
  pointer-events: all !important;
  animation: slide-up var(--animation-duration) var(--easing-function) forwards;
}

.win-window.max {
  width: 100% !important;
  height: 100% !important;
  left: 0px !important;
  top: 0 !important;
  /* z-index: 1000 !important; */
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.win-window.max>.win-titlebar>.buttons>.win-btn.win-minimize {
  visibility: collapse;
}

.desktop~.win-window.max {
  height: calc(100% - 42px - 12px) !important;
}

.win-window.max .win-titlebar,
.win-window.max .win-content {
  border-radius: 0;
}

.win-window.max .resize-grips {
  display: none;
}

.win-window.min {
  min-height: 0;
  height: auto !important;
  border-radius: 5px;
}

.win-window.min .win-titlebar {
  border-radius: 5px;
}

.win-window.min .win-content {
  display: none;
}

.win-window.min .resize-grips {
  display: none;
}

.win-titlebar {
  user-select: none;
  display: flex;
  background-color: var(--root);
  border-radius: 5px 5px 0 0;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.fg {
  flex: 1;
}

.win-window:not(.focus) .win-titlebar .title {
  opacity: 0.5;
}

.win-window:not(.focus) .win-titlebar button {
  filter: brightness(0.5);
}

.win-window.focus .win-titlebar {
  background-color: var(--header);
}

.win-titlebar .buttons,
.win-titlebar .buttons .win-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
}

/* .win-titlebar .buttons:hover {
    background-color: var(--background-lighter);
} */

.win-titlebar .outer-title {
  flex: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  min-width: 0;
  overflow: hidden;
}

.win-titlebar .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: left;
  height: 100%;
  line-height: 32px;
  padding: 0 8px;
}

.win-titlebar button {
  width: 42px;
  height: 24px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  appearance: none;
  font-size: 0;
  padding: 0;
  mask-size: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--text);
}

.win-titlebar button:hover,
.win-titlebar button:active {
  background-color: var(--text-alt) !important;
}

.win-titlebar button:target,
.win-titlebar button:focus {
  background-color: var(--text);
}

.win-titlebar button:focus {
  outline: none;
  border: none;
}

.win-titlebar button.win-minimize {
  mask-image: url("data:image/svg+xml,%3Csvg width='12' height='1' viewBox='0 0 12 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12' y1='0.5' x2='7.15256e-07' y2='0.5' stroke='white'/%3E%3C/svg%3E%0A");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='12' height='1' viewBox='0 0 12 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12' y1='0.5' x2='7.15256e-07' y2='0.5' stroke='white'/%3E%3C/svg%3E%0A");
}

.win-titlebar button.win-maximize {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-square'%3E%3Crect width='18' height='18' x='3' y='3' rx='2'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-square'%3E%3Crect width='18' height='18' x='3' y='3' rx='2'/%3E%3C/svg%3E");
}

.win-titlebar button.win-close {
  mask-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.778198' y='10.0707' width='13.1416' height='1.31416' transform='rotate(-45 0.778198 10.0707)' fill='white'/%3E%3Crect x='1.70746' y='0.778198' width='13.1416' height='1.31416' transform='rotate(45 1.70746 0.778198)' fill='white'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.778198' y='10.0707' width='13.1416' height='1.31416' transform='rotate(-45 0.778198 10.0707)' fill='white'/%3E%3Crect x='1.70746' y='0.778198' width='13.1416' height='1.31416' transform='rotate(45 1.70746 0.778198)' fill='white'/%3E%3C/svg%3E");
}

.win-window.min .win-titlebar button.win-minimize {
  mask-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12' y1='5.5' x2='7.15256e-07' y2='5.5' stroke='white'/%3E%3Cline x1='5.5' y1='11' x2='5.5' y2='-3.27825e-07' stroke='white'/%3E%3C/svg%3E%0A");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12' y1='5.5' x2='7.15256e-07' y2='5.5' stroke='white'/%3E%3Cline x1='5.5' y1='11' x2='5.5' y2='-3.27825e-07' stroke='white'/%3E%3C/svg%3E%0A");
}

.win-content.with-sidebar {
  padding: 0;
}

[data-sidebar-type="horizontal"] .with-sidebar {
  flex-direction: column;
}

.o-h {
  overflow: hidden !important;
}

.ovh {
  min-height: 0;
  overflow: auto;
  margin: 0;
  touch-action: unset !important;
}

/* Scroll ovh surfaces on mobile */
.ovh * {
  touch-action: unset !important;
}

.win-content {
  padding: 10px;
  flex: 1;
  background: var(--root);
  overflow: auto;
  touch-action: pan-y !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.win-content .modal {
  position: absolute !important;
}

.container {
  padding: 10px;
}

.win-content h1 {
  margin: 0.35rem 0;
  font-size: 1.35rem;
  font-weight: 600;
}

.win-window .resize-grips {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

@media (pointer: coarse) {
  .win-window .resize-grips {
    position: absolute;
    width: calc(100% + 3rem);
    height: calc(100% + 3rem);
    pointer-events: none;
    top: -1.5rem;
    left: -1.5rem;
  }

  .win-window .resize-grips div {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.win-window .resize-grips div {
  position: absolute;
  width: 6px;
  height: 6px;
  opacity: 0.9;
  /*   z-index: 1; */
  pointer-events: auto;
  /*   background-color: #f003; */
}

.win-window .resize-grips div[data-resize-type="top"] {
  top: -6px;
  left: 0;
  width: 100% !important;
  cursor: var(--cursor-resize-ns) 8 10, auto !important;
}

.win-window .resize-grips div[data-resize-type="right"] {
  top: 0 !important;
  right: -6px !important;
  height: 100% !important;
  cursor: var(--cursor-resize-ew) 10 6, auto !important;
}

.win-window .resize-grips div[data-resize-type="bottom"] {
  bottom: -6px;
  left: 0;
  width: 100% !important;
  cursor: var(--cursor-resize-ns) 8 10, auto !important;
}

.win-window .resize-grips div[data-resize-type="left"] {
  top: 0;
  left: -6px;
  height: 100% !important;
  cursor: var(--cursor-resize-ew) 10 6, auto !important;
}

.win-window .resize-grips div[data-resize-type="top-right"] {
  top: -6px;
  right: -6px;
  cursor: var(--cursor-resize-nesw) 8 8, auto !important;
}

.win-window .resize-grips div[data-resize-type="bottom-right"] {
  bottom: -6px;
  right: -6px;
  cursor: var(--cursor-resize-nwse) 8 8, auto !important;
}

.win-window .resize-grips div[data-resize-type="bottom-left"] {
  bottom: -6px;
  left: -6px;
  cursor: var(--cursor-resize-nesw) 8 8, auto !important;
}

.win-window .resize-grips div[data-resize-type="top-left"] {
  top: -6px;
  left: -6px;
  cursor: var(--cursor-resize-nwse) 8 8, auto !important;
}

.win-window:not(.focus) iframe,
.win-window.dragging iframe {
  pointer-events: none;
}

button {
  padding: 4px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--neutral);
  appearance: none;
  font: inherit;
  color: var(--text);
  cursor: pointer;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.transparent {
  background-color: transparent;
}

button.transparent:hover {
  background-color: rgba(var(--text-rgb), 0.25);
}

button.transparent:active {
  background-color: rgba(var(--text-rgb), 0.5);
}

button.small {
  padding: 4px 8px;
}

button.square {
  padding: 4px;
}

button:target,
button:focus {
  background-color: var(--neutral);
}

button:hover {
  background-color: var(--neutral);
}

button.primary {
  background-color: var(--primary);
  color: var(--text-light);
}

button.danger {
  background-color: var(--negative);
  color: var(--text-light);
}

button.success {
  background-color: var(--positive);
  color: var(--text-light);
}

.success {
  color: var(--positive-light);
}

.danger {
  color: var(--negative-light);
}

.warning {
  color: var(--warning-light);
}

.info {
  color: var(--primary);
}

select,
option {
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--neutral);
  text-align: left;
  font: inherit;
  color: var(--text);
  cursor: pointer;
  margin: 4px;
}

*:not(.resize-grips,
  .resize-grip,
  input,
  textarea,
  button,
  button *,
  select,
  select *,
  a) {
  cursor: var(--cursor-default) 2 2, auto !important;
}

button,
button *,
select,
select *,
.desktop .dock .menu .app,
.desktop .dock .menu .app *,
.pointer,
a {
  cursor: var(--cursor-pointer) 5 0, auto !important;
}

input[type="range"],
input[type="range"]:focus {
  outline: none !important;
}

input:not([type="checkbox"], [type="range"]),
textarea,
.ace_content {
  cursor: var(--cursor-text) 10 9, auto !important;
}

input,
textarea {
  color: var(--text) !important;
  background-color: var(--neutral);
  border: 1px solid var(--outline);
  margin: 4px;
  padding: 4px 6px;
  border-radius: 8px;
  outline: none;
  resize: none;
  font: inherit;
}

input::placeholder,
textarea::placeholder {
  color: var(--label);
}

.window-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 0.25s var(--easing-function);
  z-index: 999;
}

.window-box.hidden {
  opacity: 0;
}

#snap-indicator {
  background-color: rgba(var(--root-rgb), 0.3);
  border: 1px solid var(--outline);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-radius: 8px;
  /* backdrop-filter: blur(10px) brightness(0.9) contrast(1.2);
    background-image: var(--background-image);
    background-blend-mode: multiply;
    image-rendering: pixelated; */
}

#snap-indicator.animated {
  transition: opacity 0.15s linear, width 0.25s var(--easing-function),
    height 0.25s var(--easing-function), top 0.25s var(--easing-function),
    left 0.25s var(--easing-function);
}

.sidebar {
  background-color: var(--unfocused);
  display: flex;
  overflow-y: auto;
  padding: 4px;
  gap: 2px;
  min-width: 32px;
  flex-shrink: 0;
}

[data-sidebar-type="horizontal"] .sidebar,
[data-sidebar-type="horizontal"] .text-sidebar {
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  flex-shrink: 0;
  width: 100%;
}

.sidebar button {
  padding: 4px;
  display: flex;
  border-radius: 4px;
  margin: 2px;
  width: 32px;
  flex-shrink: 0;
}

.sidebar button:hover {
  background-color: var(--neutral);
}

.sidebar button:focus,
.sidebar button:active {
  background-color: transparent;
}

@keyframes slide-up {
  0% {
    transform: translateY(50%) scale(0.85);
    opacity: 0;
    pointer-events: all;
  }

  99% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: translateY(50%) scale(0.85);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes shortSlideUp {
  0% {
    transform: translateY(25%) scale(0.85);
    opacity: 0;
    pointer-events: none;
  }

  99% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shortSlideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: translateY(25%) scale(0.85);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

[disabled] {
  background-color: var(--unfocused) !important;
  color: rgba(var(--text-rgb), 0.5) !important;
  cursor: var(--cursor-not-allowed) 10 10, not-allowed !important;
}


.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.padded {
  padding: 16px 18px;
}

.pad {
  padding: 8px;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 4px !important;
}

.mt-2 {
  margin-top: 8px;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.ml-0 {
  margin-left: 0;
}

.o-h {
  overflow: hidden !important;
}

p {
  margin: 8px 0;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0009;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  top: 0;
  left: 0;
  animation: fadeIn var(--animation-duration) linear;
}

.modal.closing {
  animation: fadeOut var(--animation-duration) linear;
  pointer-events: none !important;
}

.modal.closing .modal-content {
  animation: shortSlideDown var(--animation-duration) var(--easing-function) forwards;
}

.modal-content {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--outline);
  border-radius: 8px;
  min-width: 200px;
  min-height: 140px;
  max-width: 480px;
  max-height: 440px;
  overflow: clip;
  animation: shortSlideUp var(--animation-duration) var(--easing-function);
}

.win-window .win-content .modal {
  padding: 16px;
}

.win-window .win-content .modal-content {
  max-width: 100%;
  max-height: 100%;
}

.modal .modal-content .modal-header {
  padding: 8px;
  display: flex;
  justify-content: center;
  background-color: var(--header);
  flex-shrink: 0;
  border-radius: 5px 5px 0 0;
}

.modal .modal-content .modal-body {
  padding: 16px 18px;
  background-color: var(--root);
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 0 0 5px 5px;
  overflow: auto;
}

.modal-body> :first-child {
  flex: 1;
  white-space: pre-wrap;
}

.modal-body> :first-child table {
  white-space: normal;
}

.modal-body .flex-group {
  justify-content: flex-end;
}

.flex-group {
  display: flex;
  gap: 8px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table>tbody>tr>td div {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  transition: none !important;
}

tr:hover {
  background-color: var(--header);
}

thead::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--outline);
  transition: background-color 1.5s var(--easing-function);
}

thead {
  position: sticky;
  top: 0;
  background: var(--root);
}

thead tr {
  height: 30px;
}

th {
  padding: 4px 8px;
  font-weight: normal;
  text-align: left;
}

td {
  padding: 4px 8px;
}

.table-selected {
  background-color: var(--neutral) !important;
  color: var(--text);
}

*::-webkit-scrollbar {
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: 0.5vw;
  z-index: -100;
}

*::-webkit-scrollbar-track {
  border: none;
  box-shadow: none;
  background-color: transparent;
  opacity: 0;
  z-index: -100;
}

*::-webkit-scrollbar-track-piece {
  border: none;
  box-shadow: none;
  background-color: transparent;
  opacity: 0;
  z-index: -100;
}

*::-webkit-scrollbar-thumb {
  opacity: 1;
  background-color: var(--neutral);
  border-radius: 2000px;
  z-index: 999999;
}

::-webkit-scrollbar {
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: 0.5vw;
  z-index: -100;
}

::-webkit-scrollbar-track {
  border: none;
  box-shadow: none;
  background-color: transparent;
  opacity: 0;
  z-index: -100;
}

::-webkit-scrollbar-track-piece {
  border: none;
  box-shadow: none;
  background-color: transparent;
  opacity: 0;
  z-index: -100;
}

::-webkit-scrollbar-thumb {
  opacity: 1;
  background-color: var(--neutral);
  border-radius: 2000px;
  z-index: 999999;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--neutral) var(--root);
  box-sizing: border-box;
  touch-action: none !important;
  transition-property: background-color, color, border-color;
  transition-duration: 0.1s;
  transition-timing-function: var(--easing-function);
}


*:empty {
  transition-property: background-color, color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: var(--easing-function);
}

*:focus:not(.transparent, details, summary) {
  outline: 1px solid white;
}

.transparent {
  background-color: transparent;
  border: none;
}

.ctx-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--unfocused);
  border: 1px solid var(--outline);
  color: var(--text);
  border-radius: 6px;
  user-select: none;
  min-width: 120px;
  min-height: 16px;
  max-height: 80vh;
  overflow: auto;
  z-index: 9999999;
}

.ctx-menu .header {
  color: var(--text-alt);
  font-weight: 550;
  font-size: 0.8em;
  align-self: flex-start;
  padding: 0 14px;
  margin: 6px 0;
  text-transform: uppercase;
}

.ctx-menu .item {
  user-select: none;
  padding: 6px 14px;
}

.ctx-menu .item:hover,
.ctx-menu .item.over {
  background-color: var(--neutral-focus);
}

.gap {
  gap: 8px;
}

.gap-mid {
  gap: 6px;
}

.gap-small {
  gap: 4px;
}

.padding {
  padding: 8px;
}

.padding-mid {
  padding: 6px;
}

.padding-small {
  padding: 4px;
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.3);
  width: 100%;
}

.card {
  padding: 8px;
  background-color: var(--unfocused);
  border-radius: 8px;
  border: 1px solid var(--outline);
}

.h1,
.h2,
.h3 {
  display: flex;
  font-weight: bold;
  margin: 0;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
}

.h2 {
  font-size: 18px;
  font-weight: 500;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
}

.label {
  color: var(--label);
  font-size: 12px;
}

.label-light {
  color: var(--label-light);
  font-size: 12px;
}

.if {
  display: inline-flex;
}

.mc {
  width: max-content;
}

.mhc {
  height: max-content;
}